.banner-empty{
  height: 60vh;
  width: 100vw;
  background: url('../../../images/depannmoi/depanneuse.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
