section.services{
  // position: absolute;
  background: white;
  height: 60vh;
  min-height: 480px;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  > h1{
    text-align: center;
    margin: 0;
    line-height: 100px;
    padding: 0;
    text-transform: uppercase;
    font-size: 2rem;
    border-bottom: 1px solid #AAA;
  }
  .three-elements{
    margin-top: 0 !important;
    display: flex;
    justify-content: space-around;
    article{
      width: 25%;
      text-align: center;
      > h1{
        font-size: 1.5rem;
        height: 40px;
      }
      > p{
        font-size: 1.1rem;
        color: grey;
      }
    }
    span{
      height: 90px;
      width: 90px;
      background: rgb(28, 107, 177);
      border-radius: 50%;
      display: block;
      margin: auto;
    }
  }
}

@media all and (max-width: 800px){
  section.services{
    height: 80vh;
    min-height: 1000px;
    .three-elements{
      margin-top: 50px;
      flex-direction: column;
      align-items: center;
      article{
        margin: 10px;
        width: 80% !important;
      }
    }
  }
}
