.navbar{
  display: flex;
  justify-content: space-between;
  height: 90px;
  width: 100vw;
  box-sizing: border-box;
  text-transform: uppercase;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  .navbar--logo{
    img{
      margin-top: 8%;
      height: 70%;
    }
  }
  .navbar--item{
    a{
      text-decoration: none;
      line-height: 90px;
      padding: 15px 10px;
      border-right: 1px solid white;
    }
    a:hover{
      color: rgb(28, 107, 177);
    }
    a:nth-child(4){
      border-right: none;
    }
    .navbar--item-highlight{
      background: rgb(28, 107, 177);
      color: white !important;
      padding: 15px 15px !important;
      margin-left: 20px;
      box-sizing: border-box;
      border-right: 0 !important;
    }
  }
}

@media all and (max-width: 850px){
  .navbar{
    .navbar--item{
      a:nth-child(1), a:nth-child(2), a:nth-child(3), a:nth-child(4){
        display: none;
      }
      .navbar--item-highlight{
        display: static !important;
      }
    }
  }
}
@media all and (max-width: 430px){
  .navbar{
    height: 70px;
    .navbar--item{
      a:nth-child(1), a:nth-child(2), a:nth-child(3), a:nth-child(4){
        display: none;
        line-height: 70px;
      }
      .navbar--item-highlight{
        display: static !important;
        line-height: 70px;
        padding: 10px 10px !important;
        margin-left: 20px;
      }
    }
    .navbar--logo{
      img{
        margin-top: 11%;
        height: 60%;
      }
    }
  }
}
